<form id="date-select" name="dateSelect">
    <div class="date-box">
        <label>From</label>
        <input type="text" ng-model="from" required autofocus>
        <div class="date-parsed">{{from | parseDate:'e.g. "last may"'}}</div>
    </div>
    <div class="date-box">
        <label>To</label>
        <input type="text" ng-model="to" required>
        <div class="date-parsed">{{to | parseDate:'e.g. "today"'}}</div>
    </div>

    <button id="go" ng-click="getData()">Go</button>
</form>

<div id="message">
    <div ng-hide="dateSelect.$valid">Please enter a date range</div>
    <div ng-show="dataLoading">Loading...</div>
</div>

<div ng-switch="dataLoaded">
    <div ng-switch-when="true">
        <ul id="stat-menu">
            <li ng-class="{selected:graphType=='awakenings'}" ng-click="switchGraph('awakenings')">Times Awoken</li>
            <li ng-class="{selected:graphType=='timeToSleep'}" ng-click="switchGraph('timeToSleep')">Time To Sleep</li>
            <li ng-class="{selected:graphType=='timeInBed'}" ng-click="switchGraph('timeInBed')">Time In Bed</li>
        </ul>

        <div ng-switch="graphType">
            <div ng-switch-when="awakenings">
                <div highchart="awakenings" title="Awakenings" bucketSize="5" noZeros="true" units="Times"></div>
            </div>
            <div ng-switch-when="timeToSleep">
                <div highchart="timeToSleep" title="Time To Sleep" bucketSize="5" noZeros="true" units="Minutes"></div>
            </div>
            <div ng-switch-when="timeInBed">
                <div highchart="timeInBed" title="Time In Bed" bucketSize="30" noZeros="true" units="Hours"></div>
            </div>
    <!--        <div ng-switch-when="startTime">
                <div highchart="startTime" title="Start Time"></div>
            </div>
     -->    
        </div>
    </div>
</div>

<a id="feature-requests"
href="https://github.com/davemckenna01/sleepstats/issues">Feature Requests</a>
