h1 {
    display: inline-block;
}

#connector {
    display: inline-block;
}

#connector .connection-complete {
    display: none;
}

#sleepstats {
    display:none;
}

#sleepstats.connected {
    display:block;
}

#menu li {
    cursor: pointer;
    padding:5px;
    background-color:#eee;
}

#menu li.selected, #menu li:hover {
    font-weight: bold;
    background-color: #ccc
}

.section {
    display: none;
    border:1px solid black;
    padding:5px;
    min-height:200px;
    /*width:500px;*/
}

#times-awoken {
    background-color: #eee;
}

#some-other-section {
    background-color: yellow;
}

#sections div.selected {
    display: block;
}