<div ng-switch="fitbitAuthorized">
    <div ng-switch-when="true">
        Your Fitbit account is hooked up!<br><br>
        <a href="{{fitbitURLs.sleepByDate}}">Get sleep by date</a><br><br>
        <a href="{{fitbitURLs.sleepStats}}">Get sleep stats</a><br><br>
    </div>
    <div ng-switch-when="false">
        You need to hook up Fitbit first...<br><br>
        <a href="{{fitbitURLs.auth}}">Do it!</a>
    </div>
</div>

<testdirective></testdirective>

<style>.selected{color:red;}</style>
<div clickage enter="selected" leave="selected">hover over me dude</div>