<ul>
	<li ng-class="{selected: graphType=='timesAwoken'}" ng-click="showGraph('timesAwoken')">Times Awoken</li>
	<li ng-class="{selected: graphType=='timeToSleep'}" ng-click="showGraph('timeToSleep')">Time To Sleep</li>
</ul>

<div ng-switch="graphType">
    <div id="times-awoken" ng-switch-when="timesAwoken">
    	<h2>times awoken</h2>
    	<div highchart></div>
    </div>
    <div id="time-to-sleep" ng-switch-when="timeToSleep">
    	<h2>time to sleep</h2>
    	<div highchart></div>
    </div>
</div>
