<div ng-hide="dataLoaded">Loading...</div>

<div ng-show="dataLoaded">
	<ul>
		<li ng-class="{selected: graphType=='awakenings'}" ng-click="showGraph('awakenings')">Times Awoken</li>
		<li ng-class="{selected: graphType=='timeToSleep'}" ng-click="showGraph('timeToSleep')">Time To Sleep</li>
	</ul>

	<div ng-switch="graphType">
	    <div ng-switch-when="awakenings">
	    	<div highchart="awakenings" title="Awakenings"></div>
	    </div>
	    <div ng-switch-when="timeToSleep">
	    	<div highchart="timeToSleep" title="Time To Sleep"></div>
	    </div>
	</div>
</div>

